body{
    border-top: 17px solid #090909;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}
li{
    list-style: none;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.wrapper{
	width: 960px;
	margin: 0 auto;
}
#subhead2{
	float: right;
	width: 655px;
	position: relative;
}
#email{
	font-size: 13px;
	color: #999898;
	text-decoration: none;
	position: absolute;
	top: 0;
	right: 0;
}
#listMenu{
	list-style: none;
	margin: 45px 0 0 0;
	padding: 0;
}
#listMenu li + li{
	margin-left: 66px;
}
#listMenu li{
	float: left;
}
.listLink{
    font-size: 12px;
	font-weight: bold;
	color: #fe9b00;
	text-decoration: none;
    text-transform: uppercase;
}
.block-border{
	padding: 20px 0 15px;
	border-bottom: 1px solid #c0c0c0;
}
#logotype{
	float: left;
	width: 183px;
}
h2, h3{
	text-transform: uppercase;
	color: #090909;
	background-image: url('../img/arrow.png');
	background-repeat: no-repeat;
	background-position: 0 7px;
}
.mainTitles h2{
	font-size: 18px;
	border-bottom: 6px solid #090909;
	padding-bottom: 12px;
}
p{
	color: #5d5d5d;
	font-size: 12px;
    line-height: 15px;
}
.mainTitles{
	width: 280px;
	float: left;
}
#benefitsList{
	margin: 0;
	padding: 0;
}
.mainTitles + .mainTitles{
	margin-left: 60px;
}
h3{
	font-size: 12px;
	padding-left: 23px;
	background-size: 8px;
	background-position: 0 5px;
}
h2{
	font-size: 18px;
	padding-left: 30px;
	background-position: 0 7px;
}
#read{
	color: #fe9b00;
	font-size: 12px;
	font-weight: bold;
	padding-left: 23px;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	background-image: url('../img/arrow.png');
	background-repeat: no-repeat;
	background-position: 0 2px;
}
#read:hover{
	text-decoration: underline;
}
#benefitsList{
	margin: 0;
	padding: 0;
}
#benefitsList li{
	padding-left:30px;
	background-image: url('../img/check.png');
	background-repeat: no-repeat;	
	background-position: top left;
}
.maninLink{
	color: #090909;
	font-style: italic;
	font-size: 12px;
	text-decoration: none;
}
#img{
	width: 214.5px;
	float: left;
	display: block;
}
#img + #img{
	margin-left: 34px;
}
#subBlog{
	width: 660px;
	float: left;
	margin-right: 80px;
}
#conect{
	width: 220px;
	float: right;
}
#footer{
	background-color: #e2e2e2;
	padding: 30px 0;
}
#footer .wrapper{
	position: relative;
}
#footer p{
	margin-bottom: 0;
}
#footerList{
	list-style: none;
	margin: 0;
	padding:0;
}
#footerList li{
	float: left;
}
#footer p{
	margin-bottom: 0;
}
#footerList li + li::before{
	content: "|";
	color: #5d5d5d;
}
#footerList li + li{
	margin-left: 6px;
}
#footerList a{
	color: #5d5d5d;
	font-size: 12px;
	text-decoration: none;
}
#footerLogo{
	height: 64px;
	position: absolute;
	right: 0;
	top: -8px;
}
