//colores
$black: #090909;
$gray: #999898;
$darkGray: #5d5d5d;
$orange: #fe9b00;
$lightgGray: #c0c0c0;
$footerGray:#e2e2e2;

//ubicaciones
$arrow: url("img/arrow.png");
$check: url("img/check.png");

//tamaño de letra
$little: 12 px;
$big: 18 px;