body {
    border-top: 17px solid #090909;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
}

  li {
    list-style: none; 
}

  .clearfix::after {
    content: "";
    clear: both;
    display: table; 
}

.wrapper {
    width: 960px;
    margin: 0 auto; 
}
.block-border {
    padding: 20px 0 15px;
    border-bottom: 1px solid $lightgGray }