#subhead2 {
    float: right;
    width: 68,22%;
    position: relative; 
}

#subhead2-responsive{
    display: none;
}

#email {
    font-size: 0.81rem;
    color: $gray;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0; 
}

#listMenu{
    list-style: none;
    margin: 45px 0 0 0;
    padding: 0;
    li + li {
        margin-left: 66px; 
    }
    li {
        float: left; }
}

.listLink {
    font-size: $little;
    font-weight: bold;
    color: $orange;
    text-decoration: none;
    text-transform: uppercase; }

#logotype {
    float: left;
    width: 19.06%; }

#logotype img{
    width: 100%;
    max-width: 100%;
} 