#img {
    width: 214.5px;
    float: left;
    display: block; }

  #img + #img {
    margin-left: 34px; }

#subBlog {
    width: 660px;
    float: left;
    margin-right: 80px; }

    #conect {
    width: 220px;
    float: right; }