#img {
    width: 22.34%;
    float: left;
    display: block; }

#img img{
  max-width: 100%;
  width: 100%;
}
  #img + #img {
    margin-left: 3.54%; }

#subBlog {
    width: 68.75%;
    float: left;
    margin-right: 8.33%; }

    #conect {
    width: 22.91%;
    float: right; }

    #conect img{
    max-width: 100%;
    }